{% extends "stockcheck/base.html"%}
{% block content%}
<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Product Availability</h3>
      <nav class="nav nav-masthead justify-content-center">
         {% if user.is_authenticated %}
           <a href="#" class="nav-link">{{user.username}} </a>
           <a href="#" class="nav-link"></a>
           <a class="nav-link" href="{% url 'logout'%}">Log out</a>
           <a class="nav-link" href="{% url 'index' %}">Home</a>
           <a class="nav-link" href="{% url 'docs:help' %}">Help</a>
           <a class="nav-link" href="{% url 'password_change' %}">Change password</a>
           {% if user.is_superuser %}
             <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
           {% endif %}
         {% else %}
           <a class="nav-link" href="{% url 'login'%}">Log in</a>
           <a class="nav-link" href="{% url 'docs:help' %}">Help</a>
           <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
         {% endif %}
      </nav>
    </div>
  </header>
<main role="main" class="inner cover">
       <h1 class="cover-heading">Thanks for Registering!</h1>
       <p class="lead">An admin will review your request! You will be notified of the approval.</p>
       <p class="lead">
         <a href="#" class="btn btn-md btn-outline-info">Learn more</a>
       </p>
       <p class="lead">

       </p>
</main>
<footer class="mastfoot mt-auto">
     <div class="inner">
       <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
     </div>
   </footer>
 </div>
{% endblock %}

